{% include base_path %}

<div class="masthead">
  <div class="masthead__inner-wrap">
    <div class="masthead__menu">
      <nav id="site-nav" class="greedy-nav">
        <button><div class="navicon"></div></button>
        <ul class="visible-links">
          {% for link in site.data.navigation.main %}
            {% if link.url contains '://' %}
              {% assign link_url = link.url %}
            {% else %}
              {% assign link_url = link.url | relative_url %}
            {% endif %}
            <li class="masthead__menu-item{% if forloop.first %} masthead__menu-item--lg{% endif %}"><a class="i18n" href="{{ link_url }}" data-i18n-en="{{ link.title }}" data-i18n-zh="{{ link.zh_title | default: link.title }}">{{ link.title }}</a></li>
          {% endfor %}
        </ul>
        <ul class="hidden-links hidden"></ul>
      </nav>
      <div class="masthead__lang-control">
        <button class="language-toggle" type="button" data-lang-toggle aria-label="Switch language">
          <span data-lang-toggle-text>中文</span>
        </button>
      </div>
    </div>
  </div>
</div>
